.btn {
  background-color: #111827;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(250, 250, 250);
  text-align: center;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  font-size: 0.96rem;
  font-family: inherit;
  border-radius: 0.3rem;
  margin: 0.2rem;
  border: 0;
  outline: 0;
}