.tab.active {
  color: #305ee1;
  background-color: #111827;
}

.tab {
  background-color: #111827;
  font-size: 0.96rem;
  margin: 0.3rem 0.4rem;
  padding: 0.1rem;
}

.tab span {
  display: inline-block;
  margin-left: 0.4rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
