/* .code-block {
  background-color: #1e293b !important;
} */

.preview code {
  line-height: 1.3;
  padding: 0.25rem;
  color: white;
  border-radius: 0.2rem;
  background-color: rgb(31, 41, 55);
  font-family: inherit !important;
}

.code-block blockquote {
  border-radius: 0.3rem;
  padding: 1rem;
  color: rgb(250, 250, 250);
  background-color: rgb(30, 41, 59);
  border-left: 4px solid rgb(51, 65, 85);
  margin: 0.7rem 0;
  max-width: 100%;
}

.code-block {
  line-height: 1.75;
  font-weight: 700;
  position: relative;
  font-size: 0.9rem !important;
  font-family: inherit !important;
  padding: 2rem 1rem !important;
  margin: 2rem 0 !important;
  border-radius: 0.3rem;
  overflow-x: auto;
  max-width: 100%;
  background-color: #1e293b !important;
}

.code-block pre::after {
  content: "";
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  position: absolute;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  background-color: red;
}

.preview pre code {
  background-color: transparent;
}
